/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.content {
    height: calc(100vh - 98px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #fff;

    h1 {
        font-size: 2rem;
        color: #73d5ff;
        text-align: left;
        width: 26.75rem;
        font-weight: 500;
    }
    p {
        color: #636363;
        font-size: 1.125rem;
        text-align: left;
        width: 26.75rem;
    }

    
}



@media (max-width: 900px) {



    .content {
        height: calc(100vh - 98px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    
        h1 {
            font-size: 2rem;
            color: #73d5ff;
            text-align: left;
            width: 20.75rem;
            font-weight: 500;
        }
        p {
            color: #636363;
            font-size: 1.125rem;
            text-align: left;
            width: 20.75rem;
        }
    
        
    }
}