<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon *ngIf="sidenav.mode === 'over'" (click)='sidenav.toggle()'>
                <mat-icon *ngIf='!sidenav.opened'>
                    menu
                </mat-icon>
                <mat-icon *ngIf='sidenav.opened'>
                    close
                </mat-icon>
            </button>
        </mat-toolbar>

    </mat-sidenav-content>

    <mat-sidenav #sidenav='matSidenav'>

        <p>Dashboard</p>
        <div class="links">
            <mat-divider></mat-divider>

            <a mat-button class='menu-button' routerLink='/'>
                <mat-icon>home</mat-icon>
                <span>home</span>
            </a>
            <mat-divider></mat-divider>

            <a mat-button class='menu-button' routerLink="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>dashboard</span>
            </a>
            <mat-divider></mat-divider>

            <a mat-button class='menu-button' routerLink="/user">
                <mat-icon>person</mat-icon>
                <span>users</span>
            </a>
            <mat-divider></mat-divider>

        </div>



    </mat-sidenav>

</mat-sidenav-container>