mat-toolbar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-top: 10px;
    background: #fff;
    button {
        border: none;
        background: #fff;
        font-size: 12px;
        position: fixed;


    }
}

mat-sidenav {
    width: 21.5rem;
    background: #172f39;
    position: fixed;
    overflow: hidden;

    p {
        color: #2cc0ff;
        font-size: 2rem;
        padding: 3rem 1rem 2rem 1rem;
        text-align: left;
        margin-left: 2rem;
        letter-spacing: 1px;
        font-weight: 500;
        width: 100%;


    }

    .links {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        mat-divider {
            background: #748288a2;
            width: 90%;
            
        }

        a {
            width: 300px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 12px 0;
            cursor: pointer;

            &:active {
                color: #2cc0ff;
            }
        
        }
        


        mat-icon {
            color: #748288;
            font-size: 1.5rem;
            margin-right: 1.125rem;
            margin-top: 0;
        }
        span {
            color: #fff;
            font-size: 1.125rem;
            font-weight: 400;
        }
    }
    mat-sidenav-container {
        height: 100vh;
    
    }

}

    @media only screen and (max-width: 900px) {

        mat-sidenav {
            width: 17.5rem;
            background: #172f39;
        
            p {
                color: #2cc0ff;
                font-size: 2rem;
                padding: 3rem 0.25rem 2rem 0.25rem;
                text-align: left;
                margin-left: 1rem;
                letter-spacing: 1px;
                font-weight: 500;
                width: 255px;

        
            }
        
            .links {
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                overflow: hidden;

                mat-divider {
                    background: #748288a2;
                    width: 90%;
                    
                }
        
                a {
                    width: 15.63rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 12px 0;
                
                }
        
        
                mat-icon {
                    color: #748288;
                    font-size: 1.5rem;
                    margin-right: 1.125rem;
                    margin-top: 0;
                }
                span {
                    color: #fff;
                    font-size: 1.125rem;
        
                }
            }
            
        
        }
    
    

    }

